<form class="m-t" role="form" name="form" ng-submit="vm.submit(form)" novalidate>
    <!-- EMAIL -->
    <div class="form-group"
         ng-class="{ 'has-error': form.email.$invalid && form.submitted }">
      <input id="email"
             autofocus
             class="form-control"
             name="email"
             ng-model="vm.user.email"
             ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
             placeholder="E-mail"
             required
             type="email">
      <div class="help-block"
           ng-if="form.email.$invalid && form.submitted"
           ng-messages="form.email.$error">
        <div ng-messages-include="app/components/messages.html"></div>
      </div>
    </div>

  <button type="submit" class="btn btn-primary block full-width m-b">
    Enviar
  </button>
</form>
