<li uib-dropdown>
  <a class="count-info" href uib-dropdown-toggle>
    <img ng-src="{{ vm.flags[vm.language] }}" alt="{{ vm.language }}">
  </a>

  <ul uib-dropdown-menu class="m-t-xs">
    <li>
      <a class="btn btn-white set_br"
         ng-class="{ active: vm.language == 'pt-BR' }"
         ng-click="vm.changeLanguage('pt-BR')">
        <img src="../img/flags/16/Brazil.png"> Brasil
      </a>
    </li>

    <li>
      <a class="btn btn-white set_en"
         ng-class="{ active: vm.language == 'en' }"
         ng-click="vm.changeLanguage('en')">
        <img src="../img/flags/16/United-States.png"> United States
      </a>
    </li>
  </ul>
</li>
