<div class="col-md-6 col-md-offset-3">
  <h2>{{ vm.title }}</h2>

  <form ng-submit="vm.submit(form.$valid)" role="form" name="form" novalidate>
    <div class="form-group" ng-class="{'has-error':form.name.$invalid && form.name.$dirty}">
      <label>Nome *</label>

      <input type="text"
             name="name"
             ng-model="vm.user.name"
             class="form-control"
             required
             ng-change="vm.clearServerError(form, 'name')"/>

      <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">
        <span ng-messages="form.name.$error">
          <span ng-show="form.name.$error.required">Campo obrigatório.</span>
          <span ng-show="form.email.$error.server">{{vm.errors.email}}</span>
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="email">E-mail *</label>

      <input type="email"
             id="email"
             name="email"
             ng-model="vm.user.email"
             class="form-control"
             ng-disabled="true"/>
    </div>

    <div class="form-group" ng-class="{'has-error':form.gender.$invalid && form.gender.$error.server}">
      <label>Sexo *</label>

      <div class="radio">
        <label>
          <input type="radio"
                 name="gender"
                 ng-model="vm.user.gender"
                 value="Masculino"
                 ng-required="!vm.user.gender"/>
          Masculino
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio"
                 name="gender"
                 ng-model="vm.user.gender"
                 value="Feminino"
                 ng-required="!vm.user.gender"/>
          Feminino
        </label>
      </div>

      <span class="help-block" ng-show="form.gender.$invalid">
        <span ng-show="form.gender.$error.server">{{vm.errors.gender}}</span>
      </span>
    </div>

    <!--<div class="form-group" ng-class="{'has-error':form.date_of_birth.$invalid && form.date_of_birth.$dirty}">-->
      <!--<label>Data de Nascimento *</label>-->

      <!--<input type="date"-->
             <!--name="date_of_birth"-->
             <!--ng-model="vm.user.date_of_birth"-->
             <!--required-->
             <!--class="form-control"-->
             <!--ng-change="vm.clearServerError(form, 'date_of_birth')"/>-->

      <!--<span class="help-block" ng-show="form.date_of_birth.$invalid && form.date_of_birth.$dirty">-->
        <!--<span ng-show="form.date_of_birth.$error.required">Campo obrigatório.</span>-->
        <!--<span ng-show="form.date_of_birth.$error.date">Data inválida.</span>-->
        <!--<span ng-show="form.date_of_birth.$error.server">{{vm.errors.date_of_birth}}</span>-->
      <!--</span>-->
    <!--</div>-->

    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
      Salvar
    </button>
  </form>
</div>
