<script type="text/ng-template" id="alimentationFoodModal.html">
  <form name="form" role="form" novalidate ng-submit="vm.submit(form)">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa {{ $state.current.data.pageDetailIcon }}"></i>
        {{ vm.alimentationFood.id | iif : 'CHANGING' : 'INCLUDING' | translate }}
        | {{ $state.current.data.pageDetailTitle | translate }}
      </h3>
    </div>

    <div class="modal-body">
      <div class="row">
        <!-- exam -->
        <div class="col-sm-9">
          <div form-input
               ng-class="{ 'has-error': form.exam_id.$invalid && form.submitted }">
            <label for="exam_id">
              {{ 'FOOD' | translate }} *
            </label>
            <input id="exam_id"
                   autofocus
                   clear-server-error
                   name="exam_id"
                   ng-model="vm.alimentationFood.food"
                   placeholder="[Autocomplemento] Escreva o nome do Alimento"
                   required
                   type="text"
                   uib-typeahead="food as food.name for food in vm.foods | filter:$viewValue | limitTo:20">
          </div>
        </div>

        <!-- value -->
        <div class="col-sm-3">
          <div form-input=""
               ng-class="{ 'has-error': form.value.$invalid && form.submitted }">
            <label for="value">
              <span class="label label-info control-label">
                {{ 'AMOUNT' | translate }}
              </span>&nbsp;*
            </label>

            <input id="value"
                   clear-server-error
                   focus-if="(!vm.alimentationFood.id && vm.alimentationFood.food.name)"
                   name="value"
                   ng-model="vm.alimentationFood.value"
                   required
                   type="text"
                   ui-number-mask="2">
          </div>
        </div>
      </div> <!-- row -->

      <div class="row" ng-if="vm.alimentationFood.food.name">
        <div class="col-sm-12">
          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>{{ 'MEASURE' | translate }}</th>
                <th>{{ 'AMOUNT_FOOD' | translate }}</th>
                <th>{{ 'CHO' | translate }}</th>
                <th>{{ 'KCAL_FOOD' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  {{ vm.alimentationFood.food.measure }}&nbsp;
                  <span class="label label-info">
                    x {{ vm.alimentationFood.value | number }}
                  </span>
                </td>
                <td>
                  {{ vm.alimentationFood.food.amount | number }}&nbsp;
                  <span class="label label-info">
                    {{ vm.alimentationFood.food.amount * vm.alimentationFood.value | number }}
                  </span>
                </td>
                <td>
                  {{ vm.alimentationFood.food.cho | number }}&nbsp;
                  <span class="label label-info">
                    {{ vm.alimentationFood.food.cho * vm.alimentationFood.value | number }}
                  </span>
                </td>
                <td>
                  {{ vm.alimentationFood.food.kcal | number }}&nbsp;
                  <span class="label label-info">
                    {{ vm.alimentationFood.food.kcal * vm.alimentationFood.value | number }}
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- row -->
    </div>

    <!-- buttons -->
    <div class="modal-footer">
      <!-- save -->
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-check"></i> {{ 'SAVE' | translate }}
      </button>

      <!-- cancel -->
      <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
        {{ 'CANCEL' | translate }}
      </button>

      <div class="checkbox" ng-if="!vm.alimentationFood.id">
        <label>
          <input type="checkbox" ng-model="vm.continueIncluding">
          {{ 'CONTINUE_INCLUDING' | translate }}
        </label>
      </div>
    </div>
  </form>
</script>
