<div class="col-md-6 col-md-offset-3">
  <h2>Reiniciar a senha</h2>

  <div ng-if="vm.msg" class="alert alert-info">{{vm.msg}}</div>

  <form name="form" ng-submit="vm.resetPassword()" role="form">

    <!-- PASSWORD -->
    <div class="form-group"
         ng-class="{ 'has-error': !form.password.$pristine && form.password.$invalid }">
      <label for="password">Senha *</label>
      <input id="password"
             class="form-control"
             name="password"
             ng-maxlength="128"
             ng-minlength="8"
             ng-model="vm.user.password"
             required
             type="password">
      <div class="help-block"
           ng-if="!form.password.$pristine"
           ng-messages="form.password.$error">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.password}}</div>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group"
         ng-class="{ 'has-error': !form.password_confirmation.$pristine && form.password_confirmation.$invalid }">
      <label for="password_confirmation">Confirmar senha *</label>
      <input id="password_confirmation"
             class="form-control"
             name="password_confirmation"
             ng-maxlength="128"
             ng-model="vm.user.password_confirmation"
             required="required"
             type="password"
             ui-validate=" '$value==vm.user.password' "
             ui-validate-watch=" 'vm.user.password' ">
      <div class="help-block"
           ng-if="!form.password_confirmation.$pristine"
           ng-messages="form.password_confirmation.$error">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.password_confirmation}}</div>
        <div ng-message="validator">Esse campo deve ser igual a senha.</div>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
