<md-card>
  <md-card-title>Trocar Senha</md-card-title>

  <md-card-content>
    <form
      *ngIf="!loading"
      (ngSubmit)="submit()"
      [formGroup]="form"
      novalidate
    >
      <p>
        <md-error *ngIf="errorMessage">{{ errorMessage }}</md-error>
      </p>

      <p>
        <md-input-container>
          <input mdInput
                 placeholder="E-mail"
                 disabled
                 value="{{ email }}">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            placeholder="Senha"
            required
            type="password"
            formControlName="password">
          <md-error *ngIf="form.controls['password'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            placeholder="Confirmar Senha"
            required
            type="password"
            formControlName="password_confirmation">
          <md-error *ngIf="form.controls['password_confirmation'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
      </p>

      <p>
        <button
          md-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          Trocar
        </button>
      </p>
    </form>

    <md-spinner *ngIf="loading"></md-spinner>
  </md-card-content>
</md-card>
