<md-card>
  <md-card-title>Criar uma conta</md-card-title>

  <md-card-content>
    <form
      *ngIf="!loading"
      (ngSubmit)="submit()"
      [formGroup]="form"
      novalidate
    >
      <p>
        <md-error *ngIf="errorMessage">{{ errorMessage }}</md-error>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            placeholder="E-mail"
            required
            type="email"
            formControlName="email">
          <md-error *ngIf="form.controls['email'].hasError('required')">
            Email is required
          </md-error>
          <md-error *ngIf="form.controls['email'].hasError('email')">
            Please enter a valid email address
          </md-error>
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            placeholder="Senha"
            required
            type="password"
            formControlName="password">
          <md-error *ngIf="form.controls['password'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            placeholder="Confirmar Senha"
            required
            type="password"
            formControlName="passwordConfirmation">
          <md-error *ngIf="form.controls['password'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
      </p>

      <p>
        <button
          md-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          Criar
        </button>
      </p>

      <p>
        <a md-button routerLink="/sign-in">Já tenho uma conta</a>
      </p>
    </form>

    <md-spinner *ngIf="loading"></md-spinner>
  </md-card-content>

</md-card>
