<form class="m-t animated fadeIn"
      role="form"
      name="form"
      ng-submit="vm.resetPassword(form)"
      novalidate>
  <div class="form-group">
    <!-- PASSWORD -->
    <div class="form-group"
         ng-class="{ 'has-error': form.password.$invalid && form.submitted }">
      <input class="form-control"
             name="password"
             ng-maxlength="128"
             ng-minlength="8"
             ng-model="vm.user.password"
             placeholder="Senha"
             required
             type="password">
      <div class="help-block"
           ng-if="form.password.$invalid && form.submitted"
           ng-messages="form.password.$error">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.password}}</div>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group"
         ng-class="{ 'has-error': form.password_confirmation.$invalid && form.submitted }">
      <input class="form-control"
             name="password_confirmation"
             ng-change="vm.clearServerError(form, 'password_confirmation')"
             ng-maxlength="128"
             ng-model="vm.user.password_confirmation"
             placeholder="Confirmar a senha"
             required="required"
             type="password"
             ui-validate=" '$value==vm.user.password' "
             ui-validate-watch=" 'vm.user.password' ">
      <div class="help-block"
           ng-if="form.password_confirmation.$invalid && form.submitted"
           ng-messages="form.password_confirmation.$error">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.formErrors.password_confirmation}}</div>
        <div ng-message="validator">Esse campo deve ser igual a senha.</div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary block full-width m-b">
    {{ 'SEND' | translate }}
  </button>
</form>
