<md-card>
  <md-card-title>Recuperar Senha</md-card-title>

  <md-card-content>
    <form
      *ngIf="!loading"
      (ngSubmit)="submit()"
      [formGroup]="form"
      novalidate
    >
      <p>
        <md-error *ngIf="errorMessage">{{ errorMessage }}</md-error>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            formControlName="email"
            placeholder="E-mail"
            required
            type="email">
          <md-error *ngIf="form.controls['email'].hasError('required')">
            Email is required
          </md-error>
          <md-error *ngIf="form.controls['email'].hasError('email')">
            Please enter a valid email address
          </md-error>
        </md-input-container>
      </p>

      <p>
        <button
          md-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          Recuperar
        </button>
      </p>
    </form>

    <md-spinner *ngIf="loading"></md-spinner>
  </md-card-content>
</md-card>
