<div class="col-md-6 col-md-offset-3">
  <h2>{{ vm.title }}</h2>

  <form ng-submit="vm.submit(form.$valid)" name="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Nome *</label>
      <input type="text"
             name="name"
             ng-model="vm.user.name"
             class="form-control"
             ng-change="vm.clearServerError(form, 'name')"
             ng-maxlength="255"
             required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.name}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label for="email">E-mail *</label>
      <input type="email"
             id="email"
             name="email"
             ng-model="vm.user.email"
             class="form-control"
             ng-change="vm.clearServerError(form, 'email')"
             ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
             required>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.email}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.gender.$touched && form.gender.$invalid }">
      <label>Sexo *</label>
      <div class="radio">
        <label>
          <input type="radio"
                 name="gender"
                 ng-model="vm.user.gender"
                 value="Masculino"
                 ng-required="!vm.user.gender">
          Masculino
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio"
                 name="gender"
                 ng-model="vm.user.gender"
                 value="Feminino"
                 ng-required="!vm.user.gender">
          Feminino
        </label>
      </div>

      <div class="help-block" ng-messages="form.gender.$error" ng-if="form.gender.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.gender}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.date_of_birth.$touched && form.date_of_birth.$invalid }">
      <label>Data de Nascimento *</label>
      <input type="date"
             name="date_of_birth"
             ng-model="vm.user.date_of_birth"
             class="form-control"
             ng-change="vm.clearServerError(form, 'date_of_birth')"
             required>

      <div class="help-block" ng-messages="form.date_of_birth.$error" ng-if="form.date_of_birth.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.date_of_birth}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
      <label>Senha *</label>
      <input type="password"
             name="password"
             ng-model="vm.user.password"
             class="form-control"
             ng-change="vm.clearServerError(form, 'password')"
             ng-minlength="8"
             required>

      <div class="help-block" ng-messages="form.password.$error" ng-if="form.password.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.password}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.password_confirmation.$touched && form.password_confirmation.$invalid }">
      <label>Confirmar senha *</label>
      <input type="password"
             name="password_confirmation"
             ng-model="vm.user.password_confirmation"
             ng-change="vm.clearServerError(form, 'password_confirmation')"
             ui-validate=" '$value==vm.user.password' "
             ui-validate-watch=" 'vm.user.password' "
             required="required"
             class="form-control"/>

      <div class="help-block" ng-messages="form.password_confirmation.$error" ng-if="form.password_confirmation.$touched">
        <div ng-messages-include="app/components/messages.html"></div>
        <div ng-message="server">{{vm.errors.password_confirmation}}</div>
        <div ng-message="validator">Esse campo deve ser igual a senha.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{vm.title}}</button>
  </form>
</div>
