<hr/>
<p ng-if="!$state.is('accredit.forgot')">
  <a ui-sref="accredit.forgot">Esqueceu a senha?</a>
</p>

<p ng-if="!$state.is('accredit.resentAccountActivation')">
  <a ui-sref="accredit.resentAccountActivation">
    Não recebeu instruções de ativação?
  </a>
</p>

<p>
  <a ui-sref="home">
    Voltar para o Início
  </a>
</p>

<span ng-if="!$state.is('accredit.login')">
  <p class="text-muted text-center">
    Já tem uma conta?
  </p>
  <p>
    <a class="btn btn-white btn-block" ui-sref="accredit.login">
      <i class="fa fa-sign-in fa-lg"></i> Entrar
    </a>
  </p>
</span>

<span ng-if="!$state.is('accredit.signup')">
  <p class="text-muted text-center">
    Não tem uma conta?
  </p>
  <p>
    <a class="btn btn-white btn-block" ui-sref="accredit.signup">
      <i class="fa fa-user-plus fa-lg"></i> Criar uma conta
    </a>
  </p>
</span>
