<div class="hr-line-dashed"></div>

<p ng-if="!$state.is('accredit.forgot')">
  <a ui-sref="accredit.forgot">{{ 'LINKS_FORGOT' | translate }}</a>
</p>

<p ng-if="!$state.is('accredit.resentAccountActivation')">
  <a ui-sref="accredit.resentAccountActivation">
    {{ 'LINKS_ACTIVATION' | translate }}
  </a>
</p>

<p>
  <a ui-sref="home">
    {{ 'LINKS_HOME' | translate }}
  </a>
</p>

<div class="hr-line-dashed"></div>

<div class="row">
  <div class="col-sm-6" ng-if="!$state.is('accredit.login')">
    <p class="text-muted text-center">
      {{ 'LINKS_HAVE_ACCOUNT' | translate }}
    </p>
    <p>
      <a class="btn btn-white btn-block" ui-sref="accredit.login">
        <i class="fa fa-sign-in fa-lg"></i>
        {{ 'LINKS_SIGNIN' | translate }}
      </a>
    </p>
  </div>
  <div class="col-sm-6" ng-if="!$state.is('accredit.signup')">
    <p class="text-muted text-center">
      {{ 'LINKS_NOT_HAVE_ACCOUNT' | translate }}
    </p>
    <p>
      <a class="btn btn-white btn-block" ui-sref="accredit.signup">
        <i class="fa fa-user-plus fa-lg"></i>
        {{ 'LINKS_CREATE_ACCOUNT' | translate }}
      </a>
    </p>
  </div>
</div>
