<script type="text/ng-template" id="referenceModal.html">
  <form name="form" role="form" novalidate ng-submit="vm.submit(form)">

    <div class="modal-header">
      <h3 class="modal-title">
        <span>
          {{ vm.reference.id | iif : 'CHANGING' : 'INCLUDING' | translate }}
        </span>
        | {{ $state.current.data.pageTitle | translate }}
      </h3>
    </div>

    <div class="modal-body">
      <div form-input
           ng-class="{ 'has-error': form.name.$invalid && form.submitted }">
        <label for="height">
          {{ 'NAME' | translate }} *
        </label>
        <input id="height"
               autofocus
               clear-server-error
               name="name"
               ng-model="vm.reference.name"
               required
               type="text">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-check"></i> {{ 'SAVE' | translate }}
      </button>
      <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </form>
</script>
