<!-- Main view  -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <a class="btn btn-sm btn-warning"
         title="{{ 'BACK' | translate }}"
         ui-sref="exams_graphics.list({page: vm.page})">
        <i class="fa fa-chevron-left"></i>
      </a>&nbsp;
      <i class="fa fa-line-chart"></i>
      {{ $state.current.data.pageTitle | translate }}
    </h2>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div block-ui block-ui-pattern="/exams_graphics/">

    <!-- CHART -->
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              <i class="fa fa-line-chart"></i>
              {{ 'GRAPHIC' | translate }}
              &nbsp;|&nbsp;
              {{ vm.exam.name }}
              <span class="badge badge-info">{{ vm.examsResults.length }}</span>
            </h5>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div class="flot-chart">
              <div flot class="flot-chart-content"
                   dataset="vm.flotData"
                   options="vm.flotOptions">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RESULTS -->
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              <i class="fa fa-file-text-o"></i>
              {{ 'RESULTS' | translate }}
              &nbsp;|&nbsp;
              {{ vm.exam.name }}
              <span class="badge badge-info">{{ vm.examsResults.length }}</span>
            </h5>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <!-- TABLE -->
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered table-hover"
                datatable="ng"
                dt-options="dtOptions">
                <thead>
                <tr>
                  <th>{{ 'ACTIONS' | translate }}</th>
                  <th>{{ 'DATE' | translate }} <i class="fa fa-sort-desc"></i></th>
                  <th>
                    {{ 'VALUE' | translate }}
                    <span ng-if="vm.exam.unit">
                      {{ 'IN' | translate }}&nbsp;{{ vm.exam.unit.name }}
                    </span>
                  </th>
                  <th>{{ 'DESCRIPTION' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="examResult in vm.examsResults | orderBy:'-date'"
                    ng-class="{'font-bold text-danger': vm.valueStatus(examResult), 'success': examResult.id == vm.examResultId}">
                  <td width="60">
                    <a class="btn btn-white"
                       href="" ng-click="vm.openModal(examResult)">
                      <i class="fa fa-pencil"></i>
                    </a>&nbsp;
                  </td>
                  <td>{{ examResult.date | date:'dd/MM/yyyy' }}</td>
                  <td>
                    {{ examResult.value | number }}&nbsp;{{ examResult.exam.unit.name }}
                    <i class="fa fa-level-up" ng-if="vm.valueStatus(examResult) > 0"></i>
                    <i class="fa fa-level-down" ng-if="vm.valueStatus(examResult) < 0"></i>
                  </td>
                  <td>{{ examResult.description }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- REFERENCES -->
  <div class="row" block-ui block-ui-pattern="/exams/">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            <i class="fa fa-book"></i>
            {{ 'REFERENCES' | translate }}
            &nbsp;|&nbsp;
            {{ vm.exam.name }}
          </h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <!-- TABLE -->
          <div class="table-responsive">
            <table
              class="table table-bordered table-hover dataTables-example"
              datatable="ng"
              dt-options="dtOptions">
              <thead>
              <tr>
                <th>{{ 'REFERENCE' | translate }}</th>
                <th>{{ 'MINIMUM_VALUE' | translate }}</th>
                <th>{{ 'MAXIMUM_VALUE' | translate }}</th>
                <th>{{ 'GENDER' | translate }}</th>
                <th>{{ 'MINIMUM_AGE' | translate }}</th>
                <th>{{ 'MAXIMUM_AGE' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="valor in vm.exam.valor"
                  ng-class="{'success font-bold': valor.id == vm.exam.valor_referencia.id}">
                <td>{{ valor.reference.name }}</td>
                <td>{{ valor.valor_inferior | number }}</td>
                <td>{{ valor.valor_superior | number }}</td>
                <td>{{ valor.gender | genderFilter }}</td>
                <td>{{ valor.idade_inferior | number }}</td>
                <td>{{ valor.idade_superior | number }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
