<form name="form" class="m-t" ng-submit="vm.submit(form)" role="form" novalidate>
  <!-- NAME -->
  <div class="form-group"
       ng-class="{ 'has-error': form.name.$invalid && form.submitted }">
    <input id="name"
           autofocus
           class="form-control"
           name="name"
           ng-change="vm.clearServerError(form, 'name')"
           ng-maxlength="255"
           ng-model="vm.user.name"
           placeholder="Nome"
           required
           type="text">
    <div class="help-block"
         ng-if="form.name.$invalid && form.submitted"
         ng-messages="form.name.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.name}}</div>
    </div>
  </div>

  <!-- EMAIL -->
  <div class="form-group"
       ng-class="{ 'has-error': form.email.$invalid && form.submitted }">
    <input id="email"
           class="form-control"
           name="email"
           ng-change="vm.clearServerError(form, 'email')"
           ng-maxlength="255"
           ng-model="vm.user.email"
           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
           placeholder="E-mail"
           required
           type="email">
    <div class="help-block"
         ng-if="form.email.$invalid && form.submitted"
         ng-messages="form.email.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.email}}</div>
    </div>
  </div>

  <!-- GENDER -->
  <div class="form-group"
       ng-class="{ 'has-error': form.gender.$invalid && form.submitted }">
    <label class="font-noraml" >Sexo:</label>
    <div class="radio-inline">
      <label>
        <input name="gender"
               icheck
               ng-model="vm.user.gender"
               ng-required="!vm.user.gender"
               type="radio"
               value="Masculino">
        <span class="font-noraml">Masculino</span>
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input name="gender"
               icheck
               ng-model="vm.user.gender"
               ng-required="!vm.user.gender"
               type="radio"
               value="Feminino">
        <span class="font-noraml">Feminino</span>
      </label>
    </div>
    <div class="help-block"
         ng-if="form.gender.$invalid && form.submitted"
         ng-messages="form.gender.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.gender}}</div>
    </div>
  </div>

  <!-- DATE OF BIRTH -->
  <div class="form-group"
       ng-class="{ 'has-error': form.date_of_birth.$invalid && form.submitted }">
    <label class="font-noraml" for="date_of_birth">Data de Nascimento</label>
    <input id="date_of_birth"
           change-date
           class="form-control"
           name="date_of_birth"
           ng-change="vm.clearServerError(form, 'date_of_birth')"
           ng-model="vm.user.date_of_birth"
           required
           type="text"
           ui-mask="99/99/9999">
    <div class="help-block"
         ng-if="form.date_of_birth.$invalid && form.submitted"
         ng-messages="form.date_of_birth.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.date_of_birth}}</div>
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="form-group"
       ng-class="{ 'has-error': form.password.$invalid && form.submitted }">
    <input id="password"
           class="form-control"
           name="password"
           ng-change="vm.clearServerError(form, 'password')"
           ng-maxlength="128"
           ng-minlength="8"
           ng-model="vm.user.password"
           placeholder="Senha"
           required
           type="password">
    <div class="help-block"
         ng-if="form.password.$invalid && form.submitted"
         ng-messages="form.password.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.password}}</div>
    </div>
  </div>

  <!-- CONFIRM PASSWORD -->
  <div class="form-group"
       ng-class="{ 'has-error': form.password_confirmation.$invalid && form.submitted }">
    <input id="password_confirmation"
           class="form-control"
           name="password_confirmation"
           ng-change="vm.clearServerError(form, 'password_confirmation')"
           ng-maxlength="128"
           ng-model="vm.user.password_confirmation"
           placeholder="Confirmar a senha"
           required="required"
           type="password"
           ui-validate=" '$value==vm.user.password' "
           ui-validate-watch=" 'vm.user.password' ">
    <div class="help-block"
         ng-if="form.password_confirmation.$invalid && form.submitted"
         ng-messages="form.password_confirmation.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{vm.formErrors.password_confirmation}}</div>
      <div ng-message="validator">Esse campo deve ser igual a senha.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary block full-width m-b">
    Enviar
  </button>
</form>
