<form name="form"
      class="m-t animated fadeIn"
      ng-submit="vm.submit(form)"
      novalidate
      role="form">

  <div form-input
       ng-class="{ 'has-error': form.name.$invalid && form.submitted }">
    <input id="name"
           autofocus
           name="name"
           ng-change="vm.clearServerError(form, 'name')"
           ng-maxlength="255"
           ng-model="vm.user.name"
           placeholder="{{ 'NAME' | translate }}"
           required
           type="text">
  </div>

  <div form-input
       ng-class="{ 'has-error': form.email.$invalid && form.submitted }">
    <input id="email"
           clear-server-error
           name="email"
           ng-maxlength="255"
           ng-model="vm.user.email"
           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
           placeholder="E-mail"
           required
           type="email">
  </div>

  <div class="form-group"
       ng-class="{ 'has-error': form.gender.$invalid && form.submitted }">
    <label class="font-noraml" >{{ 'GENDER' | translate }}:</label>
    <div class="radio-inline">
      <label>
        <input name="gender"
               icheck
               ng-model="vm.user.gender"
               ng-required="!vm.user.gender"
               type="radio"
               value="M">
        <span class="font-noraml">{{ 'MALE' | translate }}</span>
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input name="gender"
               icheck
               ng-model="vm.user.gender"
               ng-required="!vm.user.gender"
               type="radio"
               value="F">
        <span class="font-noraml">{{ 'FEMALE' | translate }}</span>
      </label>
    </div>
    <div class="help-block"
         ng-if="form.gender.$invalid && form.submitted"
         ng-messages="form.gender.$error">
      <div ng-messages-include="app/components/messages.html"></div>
      <div ng-message="server">{{ vm.formErrors.gender }}</div>
    </div>
  </div>

  <div form-input
       ng-class="{ 'has-error': form.date_of_birth.$invalid && form.submitted }">
    <label class="font-noraml" for="date_of_birth">
      {{ 'DATE_BIRTH' | translate }}
    </label>
    <input id="date_of_birth"
           change-date
           name="date_of_birth"
           ng-change="vm.clearServerError(form, 'date_of_birth')"
           ng-model="vm.user.date_of_birth"
           required
           type="text"
           ui-mask="99/99/9999">
  </div>

  <div form-input
       ng-class="{ 'has-error': form.password.$invalid && form.submitted }">
    <label class="font-noraml" for="password">
      {{ 'PASSWORD' | translate }}
    </label>
    <a href=""
       popover-placement="right"
       uib-popover-html="main.passwordRules">
      &nbsp;<i class="fa fa-info-circle"></i>
    </a>
    <input id="password"
           autocomplete="off"
           clear-server-error
           name="password"
           ng-change="vm.clearServerError(form, 'password')"
           ng-maxlength="72"
           ng-minlength="8"
           ng-model="vm.user.password"
           ng-pattern="/^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).{8,72})$/"
           placeholder="{{ 'PASSWORD' | translate }}"
           popover-trigger="'focus'"
           required
           type="password"
           uib-popover-html="main.passwordRules">
  </div>

  <div form-input
       ng-class="{ 'has-error': form.password_confirmation.$invalid && form.submitted }">
    <input id="password_confirmation"
           autocomplete="off"
           name="password_confirmation"
           ng-change="vm.clearServerError(form, 'password_confirmation')"
           ng-model="vm.user.password_confirmation"
           placeholder="{{ 'PASSWORD_CONFIRMATION' | translate }}"
           type="password"
           ui-validate=" '$value==vm.user.password' "
           ui-validate-watch=" 'vm.user.password' ">
  </div>

  <button type="submit" class="btn btn-primary block full-width m-b">
    {{ 'SEND' | translate }}
  </button>
</form>
