<div class="col-sm-6 col-sm-offset-3">
  <h2><i class="fa fa-reply"></i> {{vm.title}}</h2>

  <form name="form" ng-submit="vm.submit()" role="form">

    <!-- EMAIL -->
    <div class="form-group"
         ng-class="{ 'has-error': !form.email.$pristine && form.email.$invalid }">
      <label for="email">E-mail *</label>
      <input id="email"
             autofocus
             class="form-control"
             name="email"
             ng-model="vm.user.email"
             ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
             required
             type="email">
      <div class="help-block"
           ng-if="!form.email.$pristine"
           ng-messages="form.email.$error">
        <div ng-messages-include="app/components/messages.html"></div>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
        Enviar
      </button>
    </div>
  </form>
</div>
