<script id="contactModal.html"
        type="text/ng-template"
        block-ui block-ui-pattern="/contacts/">
  <form name="form" role="form" novalidate ng-submit="vm.submit(form)">

    <div class="modal-header">
      <h3 class="modal-title">
        Enviar um contato para Saúde Controlada
      </h3>
    </div>

    <div class="modal-body">

      <div class="row">

        <div class="col-sm-6">
          <div form-input
               ng-class="{ 'has-error': form.name.$invalid && form.submitted }">
            <label for="name">{{ 'NAME' | translate }} *</label>
            <input id="name"
                   autofocus
                   name="name"
                   ng-maxlength="255"
                   ng-model="vm.contact.name"
                   placeholder="{{ 'NAME' | translate }}"
                   required
                   type="text">
          </div>
        </div>

        <div class="col-sm-6">
          <div form-input
               ng-class="{ 'has-error': form.email.$invalid && form.submitted }">
            <label for="email">E-mail *</label>
            <input id="email"
                   name="email"
                   ng-maxlength="255"
                   ng-model="vm.contact.email"
                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                   placeholder="E-mail"
                   required
                   type="email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group"
               ng-class="{ 'has-error': form.message.$invalid && form.submitted }">
            <label for="name" class="control-label">Mensagem *</label>
            <textarea id="message"
                      class="form-control"
                      name="message"
                      ng-maxlength="1000"
                      ng-model="vm.contact.message"
                      required
                      rows="5">
              </textarea>
              <div class="help-block"
                   ng-if="form.message.$invalid && form.submitted"
                   ng-messages="form.message.$error">
                <div ng-messages-include="app/components/messages.html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-check"></i> Enviar
      </button>
      <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
        Cancelar
      </button>
    </div>
  </form>
</script>
