<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">

        <div class="profile-element" uib-dropdown>
          <img alt="main.sessionService.user.name"
               class="img-circle"
               gravatar-src-once="main.sessionService.user.email"/>

          <a uib-dropdown-toggle href>
            <span class="clear">
              <span class="block m-t-xs">
                <user-name></user-name>
              </span>
              <span class="text-muted text-xs block">
                {{ 'OPTIONS' | translate }} <b class="caret"></b>
              </span>
            </span>
          </a>

          <ul uib-dropdown-menu class="m-t-xs">
            <li><a ui-sref="admin.userEdit">{{ 'PROFILE' | translate }}</a></li>
            <li class="divider"></li>
            <li>
              <a href="#" ng-click="main.logout()">{{ 'LOGOUT' | translate }}</a>
            </li>
          </ul>
        </div>

        <div class="logo-element">
          <img alt="main.sessionService.user.name"
               class="img-circle"
               gravatar-src-once="main.sessionService.user.email"
               title="{{ main.sessionService.user.name }}" />
        </div>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="dashboard">
          <i class="fa fa-dashboard"></i>
          <span class="nav-label">{{ 'DASHBOARD' | translate }}</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="weights.list">
          <i class="fa fa-balance-scale"></i>
          <span class="nav-label">{{ 'WEIGHTS' | translate }}</span>
        </a>
      </li>

      <li ng-class="{ active: $state.includes('results') }">
        <a href="">
          <i class="fa fa-file-text-o"></i>
          <span class="nav-label">{{ 'RESULTS' | translate }}</span>
          <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse"
            ng-class="{ in: $state.includes('results') }">
          <li ui-sref-active="active">
            <a ui-sref="results.list">
              <i class="fa fa-file-text-o"></i>
              {{ 'ENTRIES' | translate }}
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="results.graphics">
              <i class="fa fa-line-chart"></i>
              {{ 'GRAPHICS' | translate }}
            </a>
          </li>
        </ul>
      </li>

      <li ng-class="{ active: $state.includes('admin') }">
        <a href="">
          <i class="fa fa-cog"></i>
          <span class="nav-label">{{ 'ADMIN' | translate }}</span>
          <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse"
            ng-class="{ in: $state.includes('admin') }">
          <li ui-sref-active="active">
            <a ui-sref="admin.userEdit">
              <i class="fa fa-user"></i>
              {{ 'PROFILE' | translate }}
            </a>
          </li>
          <li ui-sref-active="active" ng-if="main.sessionService.user.admin">
            <a ui-sref="admin.references">
              <i class="fa fa-book"></i>
              {{ 'REFERENCES' | translate }}
            </a>
          </li>
          <li ui-sref-active="active" ng-if="main.sessionService.user.admin">
            <a ui-sref="admin.units">
              <i class="fa fa-superscript"></i>
              {{ 'UNITS' | translate }}
            </a>
          </li>
          <li ui-sref-active="active" ng-if="main.sessionService.user.admin">
            <a ui-sref="admin.users">
              <i class="fa fa-users"></i>
              {{ 'USERS' | translate }}
            </a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a href="" ng-click="main.contactModal()">
          <i class="fa fa fa-bullhorn"></i>
          <span class="nav-label">Contato</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
