<div class="row border-bottom">

  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
      <span minimaliza-sidebar></span>
      <a class="navbar-brand" ui-sref="home">Saúde Controlada</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">

      <preferred-language></preferred-language>

      <li>
        <a href="#" ng-click="main.logout()">
          <i class="fa fa-sign-out"></i> {{ 'LOGOUT' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
