<toaster-container toaster-options="{'position-class': 'toast-top-center'}">
</toaster-container>

<div class="row border-bottom">

  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
      <span minimaliza-sidebar></span>
      <a class="navbar-brand" ui-sref="home">Saúde Controlada</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">

      <li uib-dropdown>
        <a class="count-info" href uib-dropdown-toggle>
          <img ng-src="{{ main.language.flag }}"
               alt="{{ main.language.country }}">
        </a>

        <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
          <li ng-repeat="language in main.languages">
            <a class="btn btn-white"
               ng-class="{ active: main.language.langKey == language.langKey }"
               ng-click="main.changeLanguage(language)">
              <img ng-src="{{ language.flag }}"> {{ language.country }}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" ng-click="main.logout()">
          <i class="fa fa-sign-out"></i> {{ 'LOGOUT' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
