<!-- Main view  -->
<page-title total="vm.pagination.totalItems"></page-title>

<div class="wrapper wrapper-content" block-ui block-ui-pattern="/exams/">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <a ui-sref="admin.examsDetail" class="btn btn-success">
            <i class="fa fa-file-o"></i> {{ 'INCLUDE' | translate }}
          </a>
        </div>
        <div class="ibox-content">
          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example"
                   datatable="ng"
                   dt-options="dtOptions">
              <thead>
              <tr>
                <th>{{ 'ACTIONS' | translate }}</th>
                <th>{{ 'NAME' | translate }} <i class="fa fa-sort-asc"></i></th>
                <th>{{ 'UNIT' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="exam in vm.exams">
                <td width="100">
                  <a href="" class="btn btn-white"
                     ui-sref="admin.examsDetail({id: exam.id, page: vm.pagination.currentPage, exam: exam})">
                    <i class="fa fa-pencil"></i>
                  </a>&nbsp;
                  <a href=""
                     class="btn btn-danger"
                     confirm="Tem certeza que deseja excluir o exame {{ exam.name }}?"
                     ng-click="vm.remove(exam)">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </td>
                <td>{{ exam.name }}</td>
                <td>{{ exam.unit.name }}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <ul uib-pagination total-items="vm.pagination.totalItems"
              ng-model="vm.pagination.currentPage"
              ng-change="vm.query()"
              ng-if="vm.pagination.totalItems"
              max-size="5"
              class="pagination-sm"
              items-per-page="vm.pagination.itemsPerPage">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
