<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <md-card>
    <md-card-title>Criar uma conta</md-card-title>

    <md-card-content>
      <p style="color:red;">{{ error$ | async }}</p>

      <md-input-container class="example-full-width">
        <input
          mdInput
          placeholder="E-mail"
          required
          type="email"
          name="email"
          [(ngModel)]="registerData.email">
      </md-input-container>
{{ registerData.email }}
      <md-input-container class="example-full-width">
        <input
          mdInput
          placeholder="Senha"
          required
          type="password"
          name="password"
          [(ngModel)]="registerData.password">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input
          mdInput
          placeholder="Confirmar Senha"
          required
          type="password"
          name="password"
          [(ngModel)]="registerData.passwordConfirmation">
      </md-input-container>

    </md-card-content>

    <md-card-actions>
      <button
        md-raised-button
        color="primary"
        [disabled]="!registerForm.form.valid"
      >
        Criar
      </button>

      <a md-button routerLink="/sign-in">Já tenho uma conta</a>
    </md-card-actions>

    <md-card-footer>
      <md-progress-bar
        mode="indeterminate"
        *ngIf="loading$ | async"
      >
      </md-progress-bar>
    </md-card-footer>
  </md-card>
</form>
