<form (ngSubmit)="onSignin(f)" #f="ngForm">
  <md-card>
    <md-card-title>Sign in</md-card-title>

    <md-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input
                mdInput
                placeholder="E-mail"
                required
                type="email"
                name="email"
                ngModel>
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input
                mdInput
                placeholder="Senha"
                required
                type="password"
                name="password"
                ngModel>
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-card-content>

    <md-card-actions>
      <button md-button>Entrar</button>
    </md-card-actions>

  </md-card>
</form>
