<form (ngSubmit)="onSignin()" #f="ngForm">
  <md-card>
    <md-card-title-group>
      <md-card-title>Sign in</md-card-title>
      <md-card-subtitle>{{ error$ | async }}</md-card-subtitle>
    </md-card-title-group>

    <md-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input
                mdInput
                placeholder="E-mail"
                required
                type="email"
                name="email"
                [(ngModel)]="signInData.email">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input
                mdInput
                placeholder="Senha"
                required
                type="password"
                name="password"
                [(ngModel)]="signInData.password">
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-card-content>

    <md-card-actions>
      <button md-button>Entrar</button>
    </md-card-actions>

    <md-card-footer>
      <md-progress-bar
        mode="indeterminate"
        *ngIf="loading$ | async"
      >
      </md-progress-bar>
    </md-card-footer>
  </md-card>
</form>
