<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand" ui-sref="accredit.login">
          {{ 'LINKS_SIGNIN' | translate }}
        </a>
      </div>
    </div>
  </nav>
</div>

<div uib-carousel active="active" interval="main.interval">
  <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="$index">
    <div class="container">
      <div class="carousel-caption blank">
        <h1>
          <i class="fa fa-heartbeat"></i>&nbsp;{{ 'APP' | translate }}
        </h1>
        <p>{{ slide.text }}</p>
        <a href="https://github.com/peimelo/saudecontrolada/releases"
           target="_blank">
          <span class="badge badge-info">v1.7.1</span>
        </a>
      </div>
    </div>
    <div class="{{ slide.class }}"></div>
  </div>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3" ng-repeat="presentation in vm.presentations">
      <h2>{{ presentation.title }}</h2>
      <p>{{ presentation.text }}</p>
    </div>
  </div>
</section>

<section id="contact" class="gray-section">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>
          Entre em Contato para:<br />
          <acme-malarkey extra-values="['dúvida', 'sugestão', 'crítica', 'elogio', 'etc...']">
          </acme-malarkey>
        </h1>
        <p>Sobre qualquer questão, estaremos à disposição para atender.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="" ng-click="main.contactModal()" class="btn btn-primary">
          Enviar um contato
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>2016 Saúde Controlada</strong><br/> Saúde é o bem mais valioso.</p>
      </div>
    </div>
  </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
  $(document).ready(function () {
    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
      var link = $(this);
      $('html, body').stop().animate({
        scrollTop: $(link.attr('href')).offset().top - 50
      }, 500);
      event.preventDefault();
      if($('body').hasClass('body-small')) {
        $('#navbar').collapse('toggle');
      }
    });

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();
  });

  var cbpAnimatedHeader = (function() {
    var docElem = document.documentElement,
      header = document.querySelector( '.navbar-default' ),
      didScroll = false,
      changeHeaderOn = 200;
    function init() {
      window.addEventListener( 'scroll', function( event ) {
        if( !didScroll ) {
          didScroll = true;
          setTimeout( scrollPage, 250 );
        }
      }, false );
    }
    function scrollPage() {
      var sy = scrollY();
      if ( sy >= changeHeaderOn ) {
        $(header).addClass('navbar-scroll')
      }
      else {
        $(header).removeClass('navbar-scroll')
      }
      didScroll = false;
    }
    function scrollY() {
      return window.pageYOffset || docElem.scrollTop;
    }
    init();

  })();
</script>
