<h1>
  <i class="fa fa-balance-scale"></i> {{vm.title}}
  <span class="badge">{{vm.pagination.totalItems}}</span>
</h1>

<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>Ações</th>
      <th>Data</th>
      <th>Altura (m)</th>
      <th>Valor (kg)</th>
      <th>Peso Ideal (kg)</th>
      <th>Situação</th>
    </tr>
    </thead>
    <tbody>

      <!--<tr ng-repeat="peso in vm.pesos | startFromFilter: (vm.pagination.currentPage-1) * vm.pagination.itemsPerPage | limitTo: vm.pagination.itemsPerPage">-->
      <tr ng-repeat="peso in vm.pesos">
        <td width="100">
          <i class="fa fa-pencil fa-lg"></i>
          <i class="fa fa-trash-o fa-lg"></i>
        </td>
        <td>{{peso.data | date:'dd/MM/yyyy'}}</td>
        <td>{{peso.altura | number}}</td>
        <td>{{peso.valor | number}}</td>
        <td>{{peso.minimum | number}} ~ {{peso.maximum | number}}</td>
        <td ng-bind-html="peso.imc | situacaoImcFilter"></td>
      </tr>
    </tbody>
  </table>
</div>

<uib-pagination total-items="vm.pagination.totalItems"
                ng-model="vm.pagination.currentPage"
                ng-change="vm.query()"
                ng-if="vm.pagination.totalItems"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="vm.pagination.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
</uib-pagination>
